<header class="jumbotron">
  <h1>Welcome to Fake News</h1>
  {{#link-to 'index'}}Go Home{{/link-to}}
</header>
<div class="container">
  {{outlet}}
</div>
<footer>
  <h3>Everything is copyright, everything may be taken away.</h3>
</footer>
